<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
</head>
<body>


<a href="https://www.qu.edu.sa/" target="_blank" class="hover">go to qu website (open new tap)</a>
<a href="https://www.qu.edu.sa/" class="visited">go to qu website (open in the same page/tap)</a>
<a href="https://www.qu.edu.sa/" class="active">go to qu website (open in the same page/tap)</a>

<h1 class="tags">example of formatting tags</h1>
<p> This text has <b>subtext</b> using b tag</p>
<p> This text has <strong>subtext</strong> using strong tag</p>
<p> This text has <i>subtext</i> using i tag</p>
<p> This text has <em>subtext</em> using emphasize tag</p>
<p> This text has <small>subtext</small> using small tag</p>
<p> This text has <mark>subtext</mark> using mark tag</p>
<p> This text has <del>subtext</del> using del tag</p>
<p> This text has <ins>subtext</ins> using ins tag</p>
<p> This text has X<sub>subtext</sub> using sub tag</p>
<p> This text has X<sup>subtext</sup> using sup tag</p>

<h1 class="lists">the best features of the iternet</h1>
<li>you can meet new people from countries around the world</li>
<li>you have accsess to new media as it becomes public:
    <ul class="circle">
        <li>new games</li>
        <li>new applications
            <ol>
                <li>for business</li>
                <li>for pleasure</li>
            </ol>
        </li>
        <li>around the clock news</li>
        <li>search engines</li>
        <li>shopping</li>
        <li>programming
            <ol>
                <li>XML</li>
                <li>java</li>
                <li>HTML5</li>
                <li>javascript</li>
                <li>new languages</li>
            </ol>
        </li>
    </ul>
</li>
<li>links</li>
<li>keeping in touch with old friends</li>
<li>its the technology of the future</li>

<table>
    <caption>Table of Fruits and Thier Prices</caption>
    <tr>
     <th>Fruit</th>
     <th>Price</th>
    </tr>
    <tr>
     <td>Apple</td>
     <td>$0.25</td>
    </tr>
    <tr>
     <td>Orange</td>
     <td>$0.50</td>
    </tr>
    <tr>
     <td>Banana</td>
     <td>$1.00</td>
    </tr>
    <tr>
     <td>PPineapple0</td>
     <td>$2.00</td>
    </tr>
    <tr>
    <td>Total</td>
    <td>$3.75</td>
    </tr>
    </table>   

    <table>
        <caption>table 2: a more complex sample table</caption>
        <tr>
            <td rowspan="2"><img src="desert.webp" alt=""></td>
            <td colspan="4">camelid comparison approximate as of 6/2011</td>
        </tr>
        <tr>
            <td># of humps</td>
            <td>indigenous region</td>
            <td>spits?</td>
            <td>produces wool?</td>
        </tr>
        <tr>
            <td>dromedary</td>
            <td>1</td>
            <td>arabian peninsula</td>
            <td>yes</td>
            <td>yes</td>
        </tr>
        <tr>
            <td>camels (bactrian)</td>
            <td>2</td>
            <td>africa/asia</td>
            <td>yes</td>
            <td>yes</td>
        </tr>
        <tr>
            <td>llamas</td>
            <td>1</td>
            <td>andes mountains</td>
            <td>yes</td>
            <td>yes</td>
        </tr>
    </table>
    </body>
</html>


